@use "global" as *;

.archive-campaign-cards {
	width:100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: rem(40);
	@include mq(md) {
	display: grid;
  justify-content: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	}
}

.archive-campaign-cards__item {
	width: rem(280);
	height:auto;
}
