@use "global" as *;

.blog-cards {
	display: grid;
  grid-gap: rem(40); /* カード間の間隔 */
  grid-template-columns: 1fr;/* カラムの幅を330pxに固定 */

	@include mq(md) {
		grid-template-columns: repeat(auto-fill, 330px); /* カラムの幅を330pxに固定 */
  justify-content: center; /* 中央揃え */
	}
}
