@use "global" as *;

.drawer {
	margin-inline: auto;
  width: 100%;
  height: 100vh;
  background-color: $greenaccent;
	position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  color: #fff;
  visibility: hidden;
  z-index: 100;
  transform: translateX(100%);
  transition: 0.3s;
	// margin-top:rem(80);
	 @include mq(md) {
    visibility: hidden;
    display: none;
  }
}

.is-drawerActive {
  overflow: hidden;
}

.is-drawerActive .drawer {
  transform: translateX(0px);
  transition: 0.3s;
	overflow: auto;
}
.is-drawerActive .header {
	background-color: $greenaccent;
}
.drawer__nav-menu {
	margin-inline: auto;
  width: 100%;
	min-height: rem(444);
	padding-top: rem(40);
	padding-bottom: rem(40);
}
