@use "global" as *;


.footer-menu {
	display: grid;
	grid-template-areas:
	"a b"
	"c d";
	@include mq(md) {
		display: flex;
	}
}

.footer-menu__block--01 {
	grid-area: a;
}

.footer-menu__block--02 {
	grid-area: c;
}


.footer-menu__block--03 {
	grid-area: b;
}


.footer-menu__block--04 {
	grid-area: d;
}
