@use "global" as *;

.footer {
	padding-top: rem(48);
	padding-bottom: rem(56);
	background-color: $greenaccent;
	margin-top: rem(100);
	@include mq(md) {
			margin-top: rem(160);
	}
}
.footer__inner {
	margin-inline:auto;
	width:100%;
}
main {
	margin-top: rem(80);
	height:500px;
	@include mq(md) {
			margin-top: rem(90);
	}
}


.footer__logo {
	text-align: left;
	width: rem(120);
	@include mq(md) {

	}
}

.footer__img {
	display: inline-block;
	margin-inline:auto;
	width: rem(120);
}

.footer__sns {
	margin-top: rem(16);
	display: flex;
	gap:rem(16);
}
.footer__sns img {
	display: inline-block;
	width: rem(24);
}

.footer__copyright {
	margin-top: rem(40);
	margin-inline:auto;
	text-align: center;
	color:$white;
	font-size: rem(12);
			font-family: $third-font-family;
			font-weight: regular;
			line-height: 1.5;
			letter-spacing: 0;

}
