@use "global" as *;

.page-price-layout {
	margin-top:rem(54);
	@include mq(md) {
		margin-top:rem(150);
	}
}
.page-price {
	margin-inline:auto;
	width:100%;
	position: relative;

}
.page-price__item:not(:first-child){
	margin-top:rem(40);
	@include mq(md) {
			margin-top:rem(78);
	}
}
