@use "global" as *;

.price {
	display: flex;
	justify-content: space-between;

}

.price__name {
	font-size: rem(14);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1.7;
			letter-spacing: 0;

}

.price__number {
	font-size: rem(14);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1.7;
			letter-spacing: 0;

}
