@use "global" as *;

.price-list__title {
	border-bottom: 1px solid $greenaccent;
	font-size: rem(16);
			font-family: $base-font-family;
			font-weight: $bold;
			line-height: 1.5;
			letter-spacing: 0;
	padding-bottom: rem(4);
}

.price-list__item {
	margin-top: rem(8);
}
