@use "global" as *;

.price {
	display: flex;
	justify-content: space-between;

}

.price__name {
	font-size: rem(14);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1.7;
			letter-spacing: 0;
			@include mq(md) {
					font-size: rem(16);
					line-height: 1.5;
			}

}

.price__number {
	font-size: rem(14);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1.7;
			letter-spacing: 0;
			@include mq(md) {
					font-size: rem(16);
					line-height: 1.5;
			}
}
