@use "global" as *;

.side-archive {
	margin-inline:auto;
	width:100%;

}

.side-archive__heading {

}


.side-archive__contents {
	margin-inline:auto;
	width:100%;

}

.side-archive__year {

}

.side-archive__year-toggle {
	cursor: pointer;
  padding: 5px;
  background-color: #f0f0f0; /* 背景色を調整 */
  border-bottom: 1px solid #ddd; /* 下線を調整 */

}

.side-archive__month-list {
	display: none; /* 初期状態では月を隠す */
  padding-left: 20px; /* インデントを調整 */

}
/* アクティブな年度の月を表示 */
.active .side-archive__month-list{
  display: block;
}
.side-archive__month {

}
