@use "global" as *;

.top-contact {

}

.top-contact__inner {
	position: relative;
	@include mq(md) {
		max-width: rem(1080);
		padding-top: rem(80);
		padding-bottom: rem(80);
		padding-left: rem(50);
		padding-right: rem(112);
		box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
	}
}
.top-contact__container {
	@include mq(md) {
			display: grid;
			grid-template-columns: 56.8% 34.4%;
			gap:8.8%;
	}
}

.top-contact__maparea {
	@include mq(md) {
	padding-right: rem(82);
	border-right: 1px solid $greenaccent;
	}
}

.top-contact__cta {
	margin-top: rem(32);
	padding-left: rem(15);
	padding-right: rem(15);

	@include mq(md) {
			margin-top: rem(20);
			padding-left: 0;
			padding-right: 0;
			margin-inline:auto;
	}
}

.top-contact__button {
	margin-top: rem(38);
	@include mq(md) {
			margin-top:rem(40)
	}

}

.top-contact__fish-image {
	position: absolute;
	top:rem(-24);
	right:0;
	width: rem(109);

	@include mq(md) {
	position: absolute;
	top:rem(-36);
	right:calc(50% - min(48vw, 41.875rem));
	width: rem(301);
	}
}



.top-contact__fish-image img {
	width: 100%;
	height:auto;
	object-fit: cover;
	aspect-ratio:109 / 50;
	@include mq(md) {
			aspect-ratio:301 / 138;
	}
}
