@use "global" as *;

.top-aboutus {

}

.top-aboutus__inner {
	position: relative;



}

.top-aboutus__heading {

}
.top-aboutus__container {
	width:100%;
	margin-inline:auto;
	margin-top: rem(28);
	@include mq(md) {
		margin-top: rem(40);
		position: relative;
		z-index: 1;
	}
}
.top-aboutus__image {
	aspect-ratio: 345/212;
	@include mq(md) {
			width: 100%;
			/* PC向けの背景画像スタイル */
				max-width: rem(1080);
        // position: relative;
        // z-index: 1;
	}
}
.top-aboutus__image img {
	width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-aboutus__main {
	margin-top: rem(40);

	@include mq(md) {
		width: 78%;
			max-width: rem(840);
			margin-top: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap:rem(40);
			position: absolute;
        top: rem(200);
        left: 18.4%;
        z-index: 2;
	}
}

.top-aboutus__title {
	font-size: rem(40);
			font-family: $third-font-family;
			font-weight: $regular;
			line-height: 1;
			letter-spacing: 0;
	color:$greenaccent;

	@include mq(md) {
			font-size: rem(80);
			color:$white;
	}
}

.top-aboutus__body {
	margin-top: rem(16);
	@include mq(md) {
			margin-top: 0;
	}

}

.top-aboutus__text {
	font-size: rem(16);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1.5;
			letter-spacing: 0;
	@include mq(md) {
			color:$white;
	}

}

.top-aboutus__button {
	margin-top: rem(50);

	@include mq(md) {
			margin-top: rem(40);
	}
}
.top-aboutus__sango-image {
	@include mq(md) {
	width: rem(194);
	aspect-ratio: 194 / 181;
	position: absolute;
	z-index:100;
	right:rem(-72);
	bottom:rem(-90);
	}

}
