@use "global" as *;

.top-campaign {
		overflow: hidden;
}

.top-campaign__inner {
	width: 100%;
	position: relative;
}

.top-campaign__heading {

}


.top-campaign__cards-wrapper {
	width: 100vw;
	margin-top: rem(28);

@include mq(md) {
		margin-top: rem(40);
		margin-right: calc(50% - 50vw);
		padding-bottom: rem(4);
}
}

//swiper-wrapperの範囲を指定
.top-campaign__cards {
	width: 100vw;
	height:auto;
}
.top-campaign__button {
	margin-top: rem(40);
	@include mq(md) {
			margin-top: rem(72);
	}
}
