@use "global" as *;

.top-contact {

}

.top-contact__inner {
	position: relative;
	@include mq(md) {
	padding-top: rem(80);
		padding-bottom: rem(80);
		max-width: rem(1080);
		padding-left: rem(50);
		padding-right: rem(112);
		box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
	}
}
.top-contact__container {
	@include mq(md) {
			display: grid;
			grid-template-columns: 56.8% 34.4%;
			gap:8.8%;
	}
}

.top-contact-maparea {
	text-align: center;
	padding-left: rem(25);
	padding-right: rem(25);
	display:flex;
	flex-direction:column;
	@include mq(md) {
	padding-right: rem(82);
	border-right: 1px solid $greenaccent;
	padding-left: 0;
	}
}

.top-contact-maparea__top {
	width: 100%;;
	border-bottom: 1px solid $greenaccent;
	padding-bottom: rem(8);
}
.top-contact-maparea__logo {
width: rem(174);
margin-inline:auto;

@include mq(md) {
		width: rem(200);
}
}

.top-contact-maparea__logo img {
	width:100%;
	height:auto;
	object-fit: cover;
	aspect-ratio: 174/65;
	@include mq(md) {
			aspect-ratio: 200/75;
	}
}

.top-contact-maparea__body {
margin-inline:auto;
width:100%;
margin-top: rem(16);
display:flex;
flex-direction: column;

@include mq(md) {
	margin-inline:unset;
	margin-top: rem(24);
	display: flex;
	flex-direction: row;
	gap:rem(20);
}
}

.top-contact-maparea__address {
	width: rem(146);
	margin-inline:auto;
	font-size: rem(16);
	font-family: $base-font-family;
	font-weight: $regular;
	line-height: 1.5;
	letter-spacing: 0;
	@include mq(md) {
		text-align: left;
	}
}

.top-contact-maparea__address p:first-child {
  padding-right: rem(6);
}
.top-contact-maparea__address p:not(:first-child){
	margin-top: rem(4);
}

.top-contact-maparea__map-wrapper {
	margin-inline:auto;
	width:100%;
	@include mq(md) {
			max-width: rem(273);
	}
}
.top-contact-maparea__map {
	width: 100%;
	height: 0;
	margin-inline:auto;
	background-color: #D9D9D9;
	margin-top: rem(16);
	position: relative;
	overflow: hidden;
	padding-top: 54.2%;
	@include mq(md) {
			margin-top: 0;
			width: rem(273);
			max-width: rem(273);
	}
}

.top-contact-maparea__map iframe {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
}


.top-contact__cta {
	margin-top: rem(32);
	padding-left: rem(15);
	padding-right: rem(15);

	@include mq(md) {
			margin-top: rem(20);
			padding-left: 0;
			padding-right: 0;
			margin-inline:auto;
	}
}

.top-contact__button {
	margin-top: rem(38);
	text-align: center;
	padding-bottom: rem(4);
	@include mq(md) {
			margin-top:rem(40)
	}

}

.top-contact__fish-image {
	position: absolute;
	top:rem(-24);
	right:0;
	width: rem(109);

	@include mq(md) {
	position: absolute;
	top:rem(-36);
	right:calc(50% - min(48vw, 41.875rem));
	width: rem(301);
	}
}


.top-contact__fish-image img {
	width: 100%;
	height:auto;
	object-fit: cover;
	aspect-ratio:109 / 50;
	@include mq(md) {
			aspect-ratio:301 / 138;
	}
}
