@use "global" as *;

.top-information {
	background-color: $greenpale;
	padding-top: rem(80);
	padding-bottom: rem(80);
	z-index:-10;
}

.top-information__inner {
	padding-left: rem(15);
	padding-right: rem(15);
}
.info-card-wrapper {
	margin-top: rem(24);
}
